<app-header></app-header>
<div class="cover">
    <div class="head">
      <h1>Closest Park Gates</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore aut nesciunt, laborum 
        architecto sed modi natus molestias nulla nisi facere sapiente mollitia quas tempore, adipisci 
        labore reiciendis neque tempora eveniet.</p>
    </div>
    <img src="assets/images/map.svg" loading = "lazy" alt="">
</div>

<div class="update">
    <h1>Based on Your Booking</h1>
    <h6>We Suggest you Check In at:</h6>
    <div class="row justify-content-center">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Malelane Gate
            </li>
            <li class="list-group-item">Kruger Gate</li>
            <li class="list-group-item">Berg Gate</li>
          </ul>
        <div class="updateBtn">
            <button type="button" class="btn btn-outline-success">Got it!</button>
          </div>
    </div>
</div>


