<nav class="sticky">
    <div class="logo">
        <img src="assets/images/logo.png" alt="">
    </div>
    <div class="navlist">
        <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Accommodation</a>
            </li>
            <li>
              <a href="#">Activities</a>
            </li>
            <li>
              <a href="#">Book With Us</a>
            </li>
            <li>
              <a href="#">Itinerary</a>
            </li>
            <li>
              <a href="#">Login</a>
            </li>
          </ul>
    </div>
  </nav>