$headColor: rgb(63, 56, 56);
$buttonColor: rgb(61, 116, 61);
.cover {
    //background: url('/src/assets/images/loginback.jpg');
    //background-position: center;
    //background-repeat: no-repeat;
    //background-size: cover;
    background: rgb(2,0,36);
    background: linear-gradient(36deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 100%);
    height: 40%;
    @media screen and (max-width: 768px) {
        height: 70%;
    }
    // margin-bottom: 30px;
    //width: 100%;
    position: relative;
    .head {
        color: rgb(51, 51, 51);
        z-index: 1;
        position: absolute;
        left: 3%;
        top: 0px;
        margin-top: 4%;
        margin-left: 20px;
        height:200px;
        width: 45%;
        @media screen and (max-width: 768px) {
            width: 80%;
            font-size: larger;
            p {
                display: none;
            }
            h1 {
                font-size: 50px;
            }
        }
        text-overflow: ellipsis;
        //width: 50%
    }
    img {
        opacity: 0.7;
        filter: brightness(50%);
        height: 100%;
        width: 34%;
        float: right;
        object-fit: cover;
        @media screen and (max-width: 768px) {
            width: 100%;
            display: block;
        }
    }
  }
:host {
    background-color: red;
    width: 100%;
    height: auto;
}
body {
    background-color: green;
}

h3 {
    color: #474747;
    margin-bottom: 30px;
}
h4 {
    margin-top: 30px;
}


ul {
    margin-top: 30px;
    width: 100%;
    border-radius: 10px;
    li {
        background-color: rgb(245, 245, 245);
        box-shadow:0 0 10px rgba(139, 107, 107, 0.53);
        width: 100%;
        border-radius: 30px;
        margin-bottom: 10px;
        .dates {
            float: right;
            font-size: 18px;
        } 
        .close {
            float: right;
            //width: 30px;
            margin: 0;
        }
        p {
            display: inline-block;
        }
        h6 {
            display: inline-block;
            font-size: 18px;
        }

        .add {
            text-align: center;
            cursor: pointer;
            background-color: rgba(241, 245, 250, 1);
        }
    }
}
li {
    background-color: rgba(241, 245, 250, 0.7);
}
i {
    color: green;
}

.guests {
    width: 40%;
    @media screen and (max-width: 768px) {
        width: 90%;
    }
}

.removeGuest {
    cursor: pointer;
    float: right;
}

.range {
    display: block;
}
.total {
    margin-top: 40px;
}

.btn-group {
    button {
        background-color: #dfdfdf;
    }

    .round {
        border-radius: 30px 0px 0px 30px;
    }

    .round2 {
        border-radius: 0px 30px 30px 0px;
    }
    margin-bottom: 50px;
}
input.ng-dirty.ng-invalid {
    border: 3px solid rgba(255, 0, 0, 0.199);
}