<app-header></app-header>
  <div class="cover">
    <div class="head">
      <h1>Purchase A Wildcard</h1>
      <p> A wildcard is a special membership with the South African National Parks. Choose a cluster and a 
        category and enjoy no more conservation fees for 12 months.
      </p>  
    </div>
    <img src="assets/images/wc-purchase.jpg" loading = "lazy" alt="">
</div>
    <div class="container" *ngIf="Categories">
      <div class="row">
        <!-- Free Tier -->
        <div class="col-lg-4" *ngFor="let item of Categories">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">{{item.WilcardCategoryName}}</h5>
              <h6 class="card-price text-center">{{ item.DefaultRate | currency:'ZAR' }}<span class="period">/year</span></h6>
              <hr>
              <label for="exampleFormControlSelect1">Cluster</label>
              <select class="form-control" id="exampleFormControlSelect1" aria-placeholder="Park" [(ngModel)]="selectedCluster" (change)="ChangeAmount(item)">
                <option *ngFor="let clust of item.Clusters" value="{{clust.WildcardClusterID}}">{{clust.WildcardClusterName}}</option>
              </select>
              <hr>
                <h6>Dependents</h6>
                <ul class="fa-ul" *ngIf="item.WilcardCategoryName === 'Individual'">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Single Dependent</li>
                </ul>
                <ul class="fa-ul" *ngIf="item.WilcardCategoryName === 'Family'">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>7 Dependents</li>
                </ul>
                <ul class="fa-ul" *ngIf="item.WilcardCategoryName === 'Couple'">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>2 Dependents, Both Adult</li>
                </ul>
              <hr>
              <h6>Parks Covered</h6>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fa fa-check"></i></span> 
                  <span *ngFor="let park of item.ParksCovered">{{park}} &nbsp;</span> </li>
              </ul>
              <a class="btn btn-block btn-success text-uppercase" (click)="MakePurchase(item)">Purchase</a>
            </div>
          </div>
        </div>
        <!-- Plus Tier 
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Family</h5>
              <h6 class="card-price text-center">R900<span class="period">/year</span></h6>
              <hr>
              <label for="exampleFormControlSelect1">Cluster</label>
              <select class="form-control" id="exampleFormControlSelect1" aria-placeholder="Park">
                <option>Cluster A</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <hr>
                <h6>Dependents</h6>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>7 Dependents</li>
                </ul>
              <hr>
              <h6>Parks Covered</h6>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fa fa-check"></i></span>Addo Elephant Park , 
                  Kruger National Park</li>
              </ul>
              <a [routerLink]="[ '/wildcardFamily' ]" class="btn btn-block btn-success text-uppercase">Purchase</a>
            </div>
          </div>
        </div>
         Pro Tier 
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Couple</h5>
              <h6 class="card-price text-center">R200<span class="period">/year</span></h6>
              <hr>
              <label for="exampleFormControlSelect1">Cluster</label>
              <select class="form-control" id="exampleFormControlSelect1" aria-placeholder="Park">
                <option>Cluster A</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <hr>
                <h6>Dependents</h6>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>2 Dependents, Both Adult</li>
                </ul>
              <hr>
              <h6>Parks Covered</h6>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fa fa-check"></i></span>Addo Elephant Park , 
                Kruger National Park</li>
              </ul>
              <a href="#" class="btn btn-block btn-success text-uppercase">Purchase</a>
            </div>
          </div>
        </div> -->
      </div>
    </div>