
    <div class="modal-content">
        <div class="modal-header">
            <h3> Bungalow - CK6P</h3>
            <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 justify-content-md-center">
                    <carousel [isAnimated]="true" class="carousel ">
                        <slide>
                          <img src="https://r-cf.bstatic.com/images/hotel/max1024x768/128/128638499.jpg" alt="first slide" style="display: block; width: 100%;">
                        </slide>
                        <slide>
                          <img src="https://r-cf.bstatic.com/images/hotel/max1024x768/128/128638499.jpg" alt="second slide" style="display: block; width: 100%;">
                        </slide>
                        <slide>
                          <img src="https://r-cf.bstatic.com/images/hotel/max1024x768/128/128638499.jpg" alt="third slide" style="display: block; width: 100%;">
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>
    </div>


