$headColor: rgb(63, 56, 56);
$buttonColor: rgb(61, 116, 61);
.mod {
    border-radius: 30px;
    height: auto;
    width: 800px;
    background-color: red;
}

.modal-body {


    .carousel img {
        margin: auto;
      }
    .ui-calendar {
        width: 80%;
    }
}

.carousel{
    border-radius: 30px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
}

// From C.A

.availability {
    position: absolute;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  10px 10px 20px #dfdfdf, 
                 -10px -10px 60px #e4e4e4;
    width: 50%;
    // height: 500px;
    height: auto;
    padding-bottom: 30px;
    top: 250%;
    @media screen and (max-width: 1202px) {
        top: 115%;
        width: 90%;
        height: auto;
    }
    @media screen and (max-width: 768px) {
        top: 100%;
        width: 90%;
        height: auto;
    }
    @media screen and (max-width: 768px) {
        top: 90%;
        width: 90%;
    }
    left: 50%;
    transform: translate(-50%, -50%);

    .head {
        h1{
            text-align: center;
            margin-top: 20px;
            color: $headColor;
            opacity: 0.9;
        }
    }
    .dropdown {
        display: block;
        width: 100%;
    }
}

.btnModal {
    background-color: $buttonColor;
    border-radius: 60px;
    outline: $buttonColor;
    width: 100%;
    font-size: 22px;
    text-align: center;
    margin-top: 45px;
}

.btnGuest {
    background-color: #dfdfdf;
    border-radius: 60px;
    width: 100%;
    font-size: 22px;
    text-align: center;
    margin-top: 45px;
}
.form-control {
    border-radius: 30px;
}
.form-group {
    width: 50%;
}

.keyword {
    margin-top: 20px;
}

.checks {
    width: 100%;
    margin-top: 25px;
    text-align: center;
    .checkbox{
        width: 33%  ;
        input {
            width: 20px;
            height: 20px;
        }
    }
    button {
        border-radius: 100%;
        font-size: 23px;
        width: 50px;
    }
    p {
        display: inline;
        margin: 0px 20px 0px 20px;
    }
    .checkbox3 {
        text-align: center;
        margin-left: 8px;
        input {
            width: 20px;
            height: 20px;   
        }

    }
}

.start, .end {
    width: 50%;
}

.dates{
    margin-top: 15px;
}

.well {
    text-align: center;
    border-radius: 12px;
    background-color: rgb(248, 245, 245);
}

:host ::ng-deep {
    .mat-horizontal-stepper-header-container {
      position: inherit;
    }
  }

.mat-step {
    font-family: 'Nunito', sans-serif;
}
::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: rgba(46, 119, 43, 0.877); 
    font-family: 'Nunito', sans-serif;
 }

 ::ng-deep .mat-step {
    font-family: 'Nunito', sans-serif;
 }

 h3 {
     margin-bottom: 30px;
     margin-top: 20px;
 }

 a {
     margin-left: 15px;
 }