
    <div class="modal-content">
        <div class="modal-header">
            <h3>View Booking</h3>
            <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center">
              <div class="col-12">
              </div>
              <h5>Booking Information</h5>
              <div class="col-12">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item list-group-item-action">Date Range: 20 Feb - 21 Feb 2020</li>
                  <li class="list-group-item list-group-item-action">Park: Kruger National Park</li>
                  <li class="list-group-item list-group-item-action">Camp: Skukuza Rest Camp</li>
                  <li class="list-group-item list-group-item-action">Booking Item: Bungalow CK6P</li>
                  <li class="list-group-item list-group-item-action">Booking Status: Paid</li>
                </ul>
              </div>
              <div class="col-12">
                <h5>Guests</h5>
              </div>
              <div class="col-12">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item list-group-item-action">Boitumelo Rampete</li>
                  <li class="list-group-item list-group-item-action">Boitumelo Rampete</li>
                </ul>
              </div>
              <h5>Booking Cost: R 400.00</h5>
            </div>

            <div class="btn-group first" role="group" aria-label="Basic example">
                <button class="btn btn-success view" (click)="Confirm()">Remove Booking</button>
                <button class="btn btn-success renew" [routerLink]="[ '/updateAccommodation' ]">Update Booking</button>
            </div>
        </div>
      </div>
      
      
  
  