<app-header></app-header>
<div class="image">
  
</div>
<div class="cover">
  <div class="head">
    <h1>Forgot Password</h1>
    <p>Forgot your password? No problem. Just tell us your verified email address and we'll send you a link to update your login credentials.</p>
  </div>
  <img src="assets/images/auth.svg" loading = "lazy" alt="">
</div>
<div class="parent">
  <div class="child">
    <div class="loginForm">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Forgot Password</h1>
          <div class="col-lg-12">
            <!--
            <button class="btn btn-light form-control btn btn-lg btn-block btn-outline google" (click)="signInWithGoogle()">
              Sign in with Google
              <img src="https://img.icons8.com/color/16/000000/google-logo.png">
            </button>
            <div class="or-container">
              <div class="line-separator"></div>
              <div class="or-label">or</div>
              <div class="line-separator"></div>
            </div>
            <hr>-->
          </div>
          <form [formGroup]="formGroup">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address </label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
              </div>
            </div>
            <div class="col-lg-12">
              <button class="btn btn-success form-control btn btn-lg btn-google btn-block btn-outline" (click)="SendEmailLink()"
              [disabled]="this.formGroup.valid ? false: true"
              >
                Send Link &nbsp; 
                <div class="spinner-border" role="status" *ngIf="loader">
                  <span class="sr-only">Loading...</span>
              </div>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
