$headColor: rgb(63, 56, 56);
.availability {
    position: absolute;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  10px 10px 20px #dfdfdf, 
                 -10px -10px 60px #e4e4e4;
    width: 50%;
    height: 500px;
    top: 125%;
    left: 50%;
    transform: translate(-50%, -50%);

    .head {
        h1{
            text-align: center;
            margin-top: 20px;
            color: $headColor;
            opacity: 0.9;
        }
    }
}