<app-header></app-header>
<div class="image">
  
</div>
<div class="cover">
  <div class="head">
    <h1>Sign In</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore aut nesciunt, laborum 
      architecto sed modi natus molestias nulla nisi facere sapiente mollitia quas tempore, adipisci 
      labore reiciendis neque tempora eveniet.</p>
  </div>
  <img src="assets/images/auth.svg" loading = "lazy" alt="">
</div>
<div class="parent">
  <div class="child">
    <div class="loginForm">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Sign In</h1>
          <div class="col-lg-12">
            <button class="btn btn-light form-control btn btn-lg btn-block btn-outline google" (click)="signInWithGoogle()">
              Sign in with Google
              <img src="https://img.icons8.com/color/16/000000/google-logo.png">
            </button>
            <div class="or-container">
              <div class="line-separator"></div>
              <div class="or-label">or</div>
              <div class="line-separator"></div>
            </div>
            <hr>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address / Username</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Password</label>
              <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          </div>
          <div class="col-lg-12">
            <button class="btn btn-success form-control btn btn-lg btn-google btn-block btn-outline">
              Sign In
            </button>
            <button class="btn btn-info form-control btn btn-lg btn-block btn-outline" 
            data-toggle="modal" 
            data-target="#staticBackdrop"
            (click)="SignUp()"
            >
              No Account? Sign Up
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
