<app-header></app-header>
<div class="image">
  
</div>
<div class="parent">
  <div class="child">
    <div class="loginForm">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Sign In</h1>
          <div class="col-lg-12">
            <button class="btn btn-light form-control btn btn-lg btn-block btn-outline google" (click)="signInWithGoogle()">
              Sign in with Google
              <img src="https://img.icons8.com/color/16/000000/google-logo.png">
            </button>
            <div class="or-container">
              <div class="line-separator"></div>
              <div class="or-label">or</div>
              <div class="line-separator"></div>
            </div>
            <hr>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address / Username</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Password</label>
              <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          </div>
          <div class="col-lg-12">
            <button class="btn btn-success form-control btn btn-lg btn-google btn-block btn-outline">
              Sign In
            </button>
            <button class="btn btn-info form-control btn btn-lg btn-block btn-outline" data-toggle="modal" data-target="#staticBackdrop">
              No Account? Sign Up
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content mod">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Sign Up</h1>
        <div class="card card-mod">
          <div class="card-body">
            <div class="col-lg-12">
              <button class="btn btn-light form-control btn btn-lg btn-block btn-outline google" (click)="signInWithGoogle()">
                Sign Up with Google
                <img src="https://img.icons8.com/color/16/000000/google-logo.png">
              </button>
              <div class="or-container">
                <div class="line-separator"></div>
                <div class="or-label">or</div>
                <div class="line-separator"></div>
              </div>
              <hr>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address / Username</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
            </div>
            <div class="col-lg-12">
              <button class="btn btn-success form-control btn btn-lg btn-google btn-block btn-outline">
                Sign Up
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
