<nav class="sticky">
    <div class="logo">
        <img src="assets/images/logo.png" alt="">
    </div>
    <div class="navlist">
        <ul>
            <li>
              <a [routerLink]="['/']">Home</a>
            </li>
            <li>
              <a href="#" class="dropdown-toggle" href="#" id="drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Wildcards</a>
              <div class="dropdown-menu" aria-labelledby="drop">
                <a class="dropdown-item" [routerLink]="['/wildcardPricing']">Purchase Wildcard Membership</a>
                <a class="dropdown-item" [routerLink]="['/viewWildcard']">View My Wildcard Membership</a>
              </div>
            </li>
            <!-- <li>
              <a class="dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Book With Us</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Accommodation</a>
                <a class="dropdown-item" href="#">Activity</a>
                <a class="dropdown-item" href="#">Day Visit</a>
              </div>
            </li> -->
            <li>
              <a class="notify" [routerLink]="['/itinerary']">
                <span>Itinerary</span>
                <span class="badge" *ngIf="itineraryCount > 0">{{itineraryCount}}</span>
              </a>
            </li>
            <ng-container *ngIf="!loggedIn; else elseTemplate">
              <li>
                <a [routerLink]="['/Login']">Login</a>
              </li>
            </ng-container>
            <ng-template #elseTemplate>
              <li>
                <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Me</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <h6>{{userOnline.Username}}</h6>
                  <a class="dropdown-item" [routerLink]="['/profile']">Profile</a>
                  <a class="dropdown-item" [routerLink]="['/myBookings']">My Bookings</a>
                  <a class="dropdown-item" (click)="Logout()">Sign Out</a>
                </div>
              </li>
            </ng-template>
        </ul>
    </div>
    <div id="burger" #burger (click)="toggleBurger()"
      [ngClass]="{'open': opened}">
      <span></span> 
      <span></span>
      <span></span>
    </div>
  </nav>
  <div   [ngClass]="{'open': opened}">
    <div class="smallList">
      <ul>
        <li>
          <a [routerLink]="['/']">Home</a>
        </li>
        <li>
          <a class="dropdown-toggle" href="#" id="drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Wildcards</a>
          <div class="dropdown-menu" aria-labelledby="drop">
            <a class="dropdown-item" href="#">Purchase Wildcards</a>
          </div>
        </li>
        <li>
          <a class="dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Book With Us</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Accommodation</a>
            <a class="dropdown-item" href="#">Activity</a>
            <a class="dropdown-item" href="#">Day Visit</a>
          </div>
        </li>
        <li>
          <a class="notify" [routerLink]="['/itinerary']">
            <span>Itinerary</span>
            <span class="badge" *ngIf="itineraryCount > 0">{{itineraryCount}}</span>
          </a>
        </li>
        <ng-container *ngIf="!loggedIn; else elseTemplate">
          <li>
            <a [routerLink]="['/Login']">Login</a>
          </li>
        </ng-container>
        <!--Test-->
        <ng-template #elseTemplate>
          <li>
            <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Me</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <h6>{{userOnline.Username}}</h6>
              <a class="dropdown-item" [routerLink]="['/profile']">Profile</a>
              <a class="dropdown-item" [routerLink]="['/myBookings']">My Bookings</a>
              <a class="dropdown-item" (click)="Logout()">Sign Out</a>
            </div>
          </li>
        </ng-template>
    </ul>
    </div>
  </div>
 
