<app-header></app-header>
  <div class="cover">
    <div class="head">
      <h1>Choose a Family Option</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore aut nesciunt, laborum 
        architecto sed modi natus molestias nulla nisi facere sapiente mollitia quas tempore, adipisci 
        labore reiciendis neque tempora eveniet.</p>
    </div>
    <img src="assets/images/wc-purchase.jpg" loading = "lazy" alt="">
</div>
    <div class="container">
      <div class="row justify-content-center">
        <!-- Free Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Family Option 1</h5>              <hr>
              <h6>Dependents</h6>
              <ul class="fa-ul justify-content-center">
                <li><span class="fa-li"><i class="fa fa-check"></i></span>2 Adult</li>
                <li><span class="fa-li"><i class="fa fa-check"></i></span>5 Children</li>
              </ul>
              <hr>
              <a href="#" class="btn btn-block btn-success text-uppercase">Choose Option</a>
            </div>
          </div>
        </div>
        <!-- Plus Tier -->
        <!-- Free Tier -->
        <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Family Option 2</h5><hr>
                  <h6>Dependents</h6>
                  <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>1 Adult</li>
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>6 Children</li>
                  </ul>
                <hr>
                <button [routerLink]="[ '/Dependents' ]" class="btn btn-block btn-success text-uppercase">Choose Option</button>
              </div>
            </div>
          </div>
      </div>
    </div>

