<div class="modal-content">
<div class="modal-header">
    <h3>Add Adult Dependent</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
        <!--Body-->
        <div class="modal-body">
          <div class="col-md-12 keyword">
            <label class="start">Dependent ID Number: </label>
            <div class="input-group">
              <input type="text" class="form-control"/>
            </div>
          </div>
          <div class="col-md-12 keyword">
              <label class="start">Dependent Name: </label>
              <div class="input-group">
                <input type="text" class="form-control" />
              </div>
          </div>
          <div class="col-md-12 keyword">
              <label class="start">Dependent Surname: </label>
              <div class="input-group">
                <input type="text" class="form-control"/>
              </div>
          </div>
          <div class="col-md-12 keyword">
              <label class="start">Dependent Email Address: </label>
              <div class="input-group">
                <input type="text" class="form-control" />
              </div>
          </div>
          <div class="col-md-12 keyword">
              <label class="start">Dependent Cellphone: </label>
              <div class="input-group">
                <input type="text" class="form-control" />
              </div>
          </div>
          <button class="btn btn-success btn-block">Save Dependent</button>
                  <!--<h3>Child Dependents</h3>
                  <h6>Child 1</h6>
                  <div class="col-md-12 keyword">
                    <label class="start">Dependent ID Number: </label>
                    <div class="input-group">
                      <input type="text" class="form-control"/>
                    </div>
                  </div>
                  <div class="col-md-12 keyword">
                      <label class="start">Dependent Name: </label>
                      <div class="input-group">
                        <input type="text" class="form-control" />
                      </div>
                  </div>
                  <div class="col-md-12 keyword">
                      <label class="start">Dependent Surname: </label>
                      <div class="input-group">
                        <input type="text" class="form-control"/>
                      </div>
                  </div>
                    
                    <div class="modal-footer">
                        <button class="btn btn-danger" (click)="close()">Cancel</button>
                        <button type="button" class="btn btn-success">Save and Proceed to Payment</button>
                    </div>
                  -->
        </div>
</div>   
        <!--Body-->



<!--Stepper-->



  



