<app-header></app-header>
<div class="cover">
    <div class="head">
      <h1>Updated Booking</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore aut nesciunt, laborum 
        architecto sed modi natus molestias nulla nisi facere sapiente mollitia quas tempore, adipisci 
        labore reiciendis neque tempora eveniet.</p>
    </div>
    <img src="assets/images/update.svg" loading = "lazy" alt="">
</div>

<div class="update">
    <h1>Updated Booking</h1>
    <div class="row justify-content-center">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Dates: 12 February 2020 - 21 February 2020</li>
            <li class="list-group-item">Booking Item: Bungalow CK6P x 3</li>
            <li class="list-group-item">Park: Kruger National Park</li>
            <li class="list-group-item">Camp: Skukuza Rest Camp</li>
          </ul>
          <h4>Guests</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Boitumelo Rampete</li>
            <li class="list-group-item">Jade Arumugam</li>
          </ul>
        <div class="updateBtn">
            <button class="btn btn-success" (click)="Confirm()" >Update Booking</button>
            <button class="btn btn-danger" (click)="Cancel()" >Cancel Update</button>
          </div>
    </div>
</div>
