$headColor: rgb(63, 56, 56);
.image {
    position: relative;
    box-shadow: 10 10, 0 , #dfdfdf;
    svg {
        position: absolute;
        color: white;
        box-shadow:10 10, 0 , #dfdfdf; ;
    }
    img {
        max-width: 100%;
        max-height: auto;
        display: block;
        border-radius: 30px;
        // filter: brightness(100%);
    }

    h1 {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        font-weight: 400;
        font-size: 60px;
        color: $headColor;
        transform: translate(-50%, 50%);
        @media screen and (max-width: 1202px) {
            display: none;
        }
    }
    width: 100%;
    height: 50%;
    z-index: 10;
    .icon-scroll {
        @media screen and (max-width: 1202px) {
            display: none;
        }
        position: absolute;
        width: 40px;
        height: 70px;
        margin-left: -20px;
        top: 130%;
        left: 50%;
        transform: translate(-50%, 50%);
        margin-top: -35px;
        box-shadow: inset 0 0 0 1px #fff;
        border-radius: 25px;
        cursor: pointer;
    }
    .icon-scroll:before {
        position: absolute;
        content: '';
        width: 8px;
        height: 8px;
        background: #fff;
        margin-left: -4px;
        top: 8px;
        left: 20px;
        border-radius: 4px;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-name: scroll;
    }

    @keyframes scroll {
        0% {
            opacity: 1;
            transform: translateY(46px);
        }
        100% {
            opacity: 0;
            transform: translateY(46px);
        }
    }


}


