<form [formGroup] = "availableGroup">
  <div class="availability">
    <div class="container">
      <div class="head">
          <h1>Check Availability</h1>
      </div>
      <div class="col-md-12 alert alert-warning alert-dismissible fade show" role="alert" *ngIf="httpError">
        {{httpMessage}}
        <button type="button" class="close" data-dismiss="alert" (click)="resetHttp()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-md-12">
        <div class="input-group">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Park <span>*required</span></label>
            <select class="form-control" id="exampleFormControlSelect1" aria-placeholder="Park" formControlName="park" (change)="onChoosePark()">
              <option *ngFor="let item of parks" [value]="item.ParkID">{{item.ParkName}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">Camp</label>
            <select class="form-control" id="exampleFormControlSelect1" aria-placeholder="Camp" formControlName="camp">
              <option *ngFor="let item of camps" [value]="item.CampID">{{item.CampName}}</option>
            </select>
          </div>
        </div>
      </div>
      <span class="atleast">Check One</span>
      <div class="col-md-12 checks">
        <div class="form-check form-check-inline checkbox">
          <input class="form-check-input mr-2" type="checkbox" id="inlineCheckbox1" value="option1" (click)="toggleActivityCollapse()" formControlName="activity" (change)="onChooseAct()">
          <label class="form-check-label" for="inlineCheckbox1">Activity</label>
        </div>
        <div class="form-check form-check-inline checkbox">
          <input class="form-check-input mr-2" type="checkbox" id="inlineCheckbox2" value="option2" (click)="toggleAccommodationCollapse()" formControlName="accommodation" (change)="onChooseAcc()">
          <label class="form-check-label" for="inlineCheckbox2">Accommodation</label>
        </div>
        <div class="form-check form-check-inline checkbox3">
          <input class="form-check-input mr-2" type="checkbox" id="inlineCheckbox3" value="option3" formControlName="day" (click)="onChooseDay()">
          <label class="form-check-label" for="inlineCheckbox3">Day Visit </label>
        </div>
      </div>
      <div id="collapseBasic" [collapse]="isAccommodation" [isAnimated]="true">
        <div class="well well-lg card card-block card-header d-flex justify-content-center">
          <div class="row">
            <div class="col-lg-12 justify-content-center"> 
                <label for="exampleFormControlSelect1">Accommodation Type</label>
                <select class="form-control" id="exampleFormControlSelect1" aria-placeholder="Park" formControlName="accommodationType">
                  <option *ngFor="let item of accommodationTypes" [value]="item.AccommodationTypeID">{{item.AccommodationTypeName}}</option>
                </select>
            </div>
          </div>
        </div>
      </div>

      <div id="collapseBasic" [collapse]="isActivity" [isAnimated]="true">
        <div class="well well-lg card card-block card-header d-flex justify-content-center">
          <div class="row">
            <div class="col-lg-12 justify-content-center"> 
                <label for="exampleFormControlSelect1">Activity Type</label>
                <select class="form-control" id="exampleFormControlSelect1" aria-placeholder="Park" activityType="activityType">
                  <option *ngFor="let item of activityTypes" [value]="item.ActivityTypeID">{{item.ActivityTypeName}}</option>
                </select>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-success btnModal" (click)="CheckAvailability()"
      [disabled] = "availableGroup.valid ? false: true"
      >Check Availability &nbsp;
        <div class="spinner-border" role="status" *ngIf="loader">
          <span class="sr-only">Loading...</span>
        </div>
      </button>
    </div>

</div>
</form>
