<app-header></app-header>
<div class="cover">
    <div class="head">
      <h1>Booking Success</h1>
      <p>You have successfully made your booking. Wait on your arrila date and we'll see you there!!</p>
    </div>
    <img src="assets/images/update.svg" loading = "lazy" alt="">
</div>

<div class="update">
    <h1>Successfully Created Booking</h1>
    <div class="row justify-content-center">
        <div>
            <img src="assets/images/confirm.svg" width="30%" alt="">
        </div>
        <div class="updateBtn">
            <button type="button" class="btn btn-outline-success"
            [routerLink]="['/']"
            >Go Back Home</button>
          </div>
    </div>
</div>

