<app-header></app-header>
<div class="cover">
    <div class="head">
      <h1>Booking Success</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore aut nesciunt, laborum 
        architecto sed modi natus molestias nulla nisi facere sapiente mollitia quas tempore, adipisci 
        labore reiciendis neque tempora eveniet.</p>
    </div>
    <img src="assets/images/update.svg" loading = "lazy" alt="">
</div>

<div class="update">
    <h1>Successfully Created Booking</h1>
    <div class="row justify-content-center">
        <div>
            <img src="assets/images/confirm.svg" width="30%" alt="">
        </div>
        <div class="updateBtn">
            <button type="button" class="btn btn-outline-success"
            [routerLink]="['/']"
            >Go Back Home</button>
          </div>
    </div>
</div>

