
    <div class="modal-content">
        <div class="modal-header">
            <h3>Add Night Drive</h3>
            <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <mat-horizontal-stepper labelPosition="bottom" #stepper style="font-family: 'Nunito', sans-serif; font-size: 18px;">
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Add Booking Details</ng-template>
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <div>
                        <label>Adjust Date</label>
                        <input type="text" 
                           placeholder="Pick your date"
                           class="form-control"
                           bsDatepicker
                           [minDate]="minDate"
                           [maxDate]="maxDate"
                           placement="bottom"
                           [(ngModel)]="bsValue"
                           [bsConfig]="{ isAnimated: true, adaptivePosition: true, displayOneMonthRange: true }"
                           >
                        </div>
                        <div class="form-group col-md-8 checks">
                            <label for="exampleFormControlSelect1">Activity Slot</label>
                            <select class="form-control" id="exampleFormControlSelect1" aria-placeholder="Park" [(ngModel)]="selectedSlot">
                            <option *ngFor="let item of ActivitySlots" value="{{item.SlotID}}">{{item.SlotTime}}</option>
                            </select>
                        </div>
                        <!--<br>
                        <h6 class="checks">3 Slots Available at this time</h6>
                        <br>-->
                      <div class="col-md-12 checks">
                        <label class="end">Number of Guests: </label>
                        <div>
                            <button type="button" class="btn btn-success" (click)="subtractAdultGuest()">-</button>
                            <p>{{adultGuests}}</p>
                            <button type="button" class="btn btn-success" (click)="addAdultGuest()">+</button>
                        </div>
                    </div>

                      <button class="btn btn-light btnGuest" matStepperNext >Enter Guest Details</button>
                    </div>
                  </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Enter Guest Details</ng-template>
              <div class="col-md-12 alert alert-info alert-dismissible fade show" role="alert">
                Add {{adultGuests}} Guests
                <button type="button" class="close" data-dismiss="alert" (click)="resetHttp()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <h3> Guests</h3>
              <div class="btn-group first" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-success child" (click)="AddAdultGuest()" >Add Guest</button>
              </div>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">ID Number</th>
                    <th scope="col">Age</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of bookingGuests">
                    <td scope="row">{{item.GuestName}}</td>
                    <td>{{item.GuestSurname}}</td>
                    <td>{{item.GuestIDCode}}</td>
                    <td>{{item.GuestAge}}</td>
                  </tr>
                </tbody>
              </table>
              <div>
                <button class="btn btn-success btnModal"
                (click)="addToItinerary()">
                Add To Itinerary &nbsp;

                <div class="spinner-border" role="status" *ngIf="loader">
                  <span class="sr-only">Loading...</span>
                </div>
                </button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
            <div class="row">
                <div class="col-lg-12">
                    <div class="container">
          
                </div>
            </div>
        </div>
    </div>

    <!--Stepper-->

    

      


