<app-header></app-header>
<div class="cover">
    <div class="head">
        <h1>Add Your Wildcard Dependents</h1>
        <p>Add your wildcard Dependents, why would you want to enjoy the South African National Parks alone?</p>    
    </div>
    <img src="assets/images/wc-dependent.jpg" loading = "lazy" alt="">
</div>
<div class="btn-group first" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-success child" (click)="AddChild()"
    [disabled]="childCount === childLimit ? true: false"
    >Add Child Dependent</button>
    <button type="button" class="btn btn-success adult" (click)="AddAdult()"
    [disabled]="adultCount === adultLimit ? true: false"
    >Add AdultDependent</button>
  </div>
<table class="table table-hover">
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">ID Number</th>
    </tr>
    <tr *ngFor="let item of Dependents">
      <td>{{item.DependentName}}</td>
      <td>{{item.DependentSurname}}</td>
      <td>{{item.DependentIDCode}}</td>
    </tr>
  </table>

  <div class="parent">
    <div class="btn-group last mx-auto" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary child" [routerLink]="[ '/wildcardPricing' ]"> <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Go Back</button>
        <button type="button" (click)="PayWildcard()" class="btn btn-success adult"
        [disabled] = "Dependents.length === total ? false: true"
        >Proceed To Payment <i class="fa fa-credit-card" aria-hidden="true"></i>

        </button>
    </div>
  </div>
